{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block index %}active{% endblock %}

{% block body %}

    <main role="main" id="main">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Admin</li>
        </ol>
    </nav>
    <div class="container mt-3">
        <a href="adminAdvance" class="btn btn-warning float-right m-2">Nouveau</a>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Créer le</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in listUser %}
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>
                        {{ user.create_at|date("d/m/Y H:i:s") }}
                    </td>
                    <td>
                        <a href="adminAdvance?action=modifier&id={{ user.id }}" class="btn btn-warning"><i
                                    class="far fa-edit"></i></a>
                        <a href="adminAdvance?action=supprimer&id={{ user.id }}" class="btn btn-danger"><i
                                    class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>


    </div>

    </main>{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}