<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('/assets/css/bootstrap.min.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% embed "header.html.twig" %}{% endembed %}
{% block body %}{% endblock %}
{% block footer %}
    <footer class="container">
        <hr class="featurette-divider" />

        <p class="float-right">
            <button type="button" class="btn btn-outline-primary" onclick="scrollToTop()"><svg
                        class="bi bi-arrow-up-short h2" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10 7.5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V8a.5.5 0 01.5-.5z" clip-rule="evenodd">
                    </path>
                    <path fill-rule="evenodd"
                          d="M9.646 6.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L10 7.707l-2.646 2.647a.5.5 0 01-.708-.708l3-3z"
                          clip-rule="evenodd"></path>
                </svg></button>
        </p>
        <p>
            &copy; 2020 Festival des Films de Plein Air. &middot;
            <a href="terms.html">Mentions légales</a>
        </p>
    </footer>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('/assets/js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ asset('/assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/assets/js/script.js') }}"></script>
    <script src="{{ asset('/assets/js/popper.min.js') }}"></script>
{% endblock %}
</body>
</html>
